<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <div class="container">
        <h1>Play Rock, Paper, Scissors!</h1>
        <form action="/player1">
            <p><button type="submit" class="btn-success">Start Game</button></p>
        </form>
    </div>
</body>
</html>
