<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <div class="container">
        <h1>Player 1: Choose your weapon!</h1>
        <form action="/player2">
            <div class="form-group">
                <label for="player1">Player 1:</label>
                    <select class="form-control" name="player1">
                        <option value="rock">Rock</option>
                        <option value="paper">Paper</option>
                        <option value="scissors">Scissors</option>
                    </select>
                </div>

                <p><button type="submit" class="btn-success">Select</button></p>
        </form>
    </div>
</body>
</html>
