<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Result</h1>
        <p>{{ result }}</p>

        <p><a href="/">Play Again!</a></p>
    </div>
</body>
</html>
